<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.education.pojo.Student" >
    <constructor >
      <idArg column="student_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="student_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="student_pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="student_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="class_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="student_img" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    student_id, student_name, student_pwd, student_sex, class_id, student_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>

  <select id="login" parameterType="com.education.pojo.Student" resultType="com.education.pojo.Student">
    select s.* from student s
    where s.student_id=#{studentId} and s.student_pwd=#{studentPwd}
  </select>

  <!-- 查询所有学生 -->
  <select id="queryStudentList" parameterType="Map" resultType="com.education.pojo.Student">
    select student_id, student_name, student_pwd, student_sex, class_id, student_img from student where 1=1
    <if test="studentId!=null">
      and student_id like '%${studentId}%'
    </if>
    <if test="studentName!=null">
      and student_name like '%${studentName}%'
    </if>
  </select>

  <!-- 根据员工ID找学生 -->
  <select id="queryStudentById" parameterType="Integer" resultType="com.education.pojo.Student">
    select * from student where student_id=#{studentId}
  </select>

  <!-- 根据ID删学生 -->
  <delete id="deleteStudentById" parameterType="Integer" >
    delete from student where student_id=#{studentId}
  </delete>

  <!-- 添加学生 -->
  <insert id="insertStudent" parameterType="com.education.pojo.Student">
      insert into student(student_id,student_name,student_pwd,student_sex,class_id,student_img)
       values(#{studentId},#{studentName},#{studentPwd},#{studentSex},#{classId},#{studentImg})
  </insert>

  <!-- 修改学生信息 -->
  <update id="updateStudent" parameterType="com.education.pojo.Student">
        update student
        set student_name=#{studentName},student_img=#{studentImg},student_sex=#{studentSex},student_pwd=#{studentPwd},class_id=#{classId}
        where student_id=#{studentId}
    </update>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.education.pojo.Student" >
    insert into student (student_id, student_name, student_pwd, 
      student_sex, class_id, student_img
      )
    values (#{studentId,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR}, #{studentPwd,jdbcType=VARCHAR}, 
      #{studentSex,jdbcType=VARCHAR}, #{classId,jdbcType=INTEGER}, #{studentImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.education.pojo.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="studentPwd != null" >
        student_pwd,
      </if>
      <if test="studentSex != null" >
        student_sex,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="studentImg != null" >
        student_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentPwd != null" >
        #{studentPwd,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null" >
        #{studentSex,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentImg != null" >
        #{studentImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.pojo.Student" >
    update student
    <set >
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentPwd != null" >
        student_pwd = #{studentPwd,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null" >
        student_sex = #{studentSex,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentImg != null" >
        student_img = #{studentImg,jdbcType=VARCHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.pojo.Student" >
    update student
    set student_name = #{studentName,jdbcType=VARCHAR},
      student_pwd = #{studentPwd,jdbcType=VARCHAR},
      student_sex = #{studentSex,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=INTEGER},
      student_img = #{studentImg,jdbcType=VARCHAR}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>